[Desktop Entry]
Name=Axolotl Archipelago Text Client
Exec=axolotl-apclient
Icon=com.mooinglemur.axolotl
Type=Application
Categories=Game;Utility;
Comment=A modern Archipelago multiworld text client.
Terminal=false
